.head {}
body { box-sizing: border-box;
    width: 210mm;
    padding: 20mm 20mm 20mm 20mm;
    font-family: Helvetica;
    color: black;
    margin-left: auto;
    margin-right: auto;
  }
.container {
  
/*    height: 287mm;*/
/*    width: 210mm;*/
    
/*
 padding-top: 20mm;
    padding-bottom: 20mm;
     padding-left: 20mm;
    padding-right: 20mm;
*/
     
  

   }


.name h2{ color: black;
    text-align: center;
     font-family: Helvetica;
}


p {margin-left: 0px;
    margin-top: 3pt;
    margin-bottom: 6pt;
    }
.contacts_l {  font-family: Helvetica;

        display: block;
    }
.contacts_r { font-family: Helvetica;
    /*
    font-family:"Lucida Console", Monaco, monospace; */  
    float: right;  
    text-align: right;
    display: block;
  }


.contacts_r a {  font-family: Helvetica;
    text-decoration: none;
 }



 h2{
    margin-top: 0px;
    margin-bottom: 12pt;

    }

h3{
    margin-top: 12pt;
    margin-bottom: 4pt;
}

.content h3{color: #005493;}
h4{
    margin-top: 4pt;
     margin-bottom: 4pt;
     text-align: justify;
    }

a:link{color: black;
text-decoration: none;}
a:visited{color: black}
a:hover{
text-decoration: none;}

 .line{width: 170mm;
    background: none;
    border: 1px;
    height: 2pt;    display: block;
   
  }



.it {font-weight: normal; 
    font-style: italic;
}


.n {font-style: normal; 
font-weight: normal;
color: black;}


.getpdf a{color: #888888;
 text-decoration: underline;}
.getpdf h4{ display: block;
    font-family: Helvetica;
    text-align: center;
   padding-top: 2mm;
}

   .last-updated{  float: left;  
    text-align: left;
    display: block;}

.getRecent {display: none;}

@media all {
	.page-break	{ display: none;    
    }
   
}


@media print { 




    .getpdf {display: none;}
    
    body { 
        box-sizing: border-box;
    padding: 0 0 0 0;}
    
    
    
    .container {
        box-sizing: border-box;
/*   border-style: dashed;*/
    height: 297mm;
    width: 210mm;
        padding: 20mm 20mm 20mm 20mm;
  margin: 0 0 0 0;
       }
    .getRecent { display: block; }
    .getRecent h4 { 
    text-align: center;
         font-weight: bolder;
    padding-top: 2mm;}
    .getRecent a{  color: lightgray;
       
    text-decoration: underline;}
    .page-break	{ display: block; page-break-before: always; }
    /*.last-updated{text-align: right}*/
    .null{display: none;}
     h3{color: #005493;}
}